{% extends "./base.njk" %}

{% block content %}
    <article class="mb-16">
        <div class="text-sm tracking-wide text-gray-600 dark:text-gray-400 mb-1">
            {{ date | formatDate }}
        </div>
        <h1 class="text-3xl tracking-tight">
            {{ title }}
        </h1>
        <div class="w-8 inline-block border-b-4 border-indigo-700 dark:border-indigo-500 pb-4 mb-4"></div>

        {% include 'prose.njk' %}
    </article>

    <footer class="block p-6 rounded-md shadow-md bg-white dark:bg-gray-800">
        <h2 class="text-lg mb-2 text-purple-700 dark:text-purple-400">About Me</h2>
        <p class="text-gray-700 dark:text-gray-200 mb-4">
            I'm Laurens, a web developer from the Netherlands. On this site you'll find things I share about my work. Plus the occasional random historical fact.
            <a href="/about" class="text-sm underline ml-2">More</a>
        </p>
        <span class="text-gray-600 dark:text-gray-300">
            {% include 'socialLinks.njk' %}
        </span>
    </footer>
{% endblock %}
