---
title: TIL
subtitle: 💡 Quick notes on things I learned today
layout: page
---

{% block content %}
    {%- for learning in collections.learnings | reverse -%}
        <div class="mb-4">
            <a href="{{ learning.url }}" class="text-sm tracking-wide text-gray-600 dark:text-gray-400 hover:text-indigo-600 dark:hover:text-indigo-300 no-underline">
                {{ learning.data.date | formatDate }}
            </a>
            <div class="text-xl flex items-center gap-2">
                {{ learning.data.title }}
                 {%- if learning.data.source -%}
                    <a href="{{ learning.data.source }}" class="text-indigo-600 dark:text-indigo-300 hover:text-indigo-800 dark:hover:text-indigo-50" title="Source" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                            <path fill-rule="evenodd" d="M8.914 6.025a.75.75 0 0 1 1.06 0 3.5 3.5 0 0 1 0 4.95l-2 2a3.5 3.5 0 0 1-5.396-4.402.75.75 0 0 1 1.251.827 2 2 0 0 0 3.085 2.514l2-2a2 2 0 0 0 0-2.828.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M7.086 9.975a.75.75 0 0 1-1.06 0 3.5 3.5 0 0 1 0-4.95l2-2a3.5 3.5 0 0 1 5.396 4.402.75.75 0 0 1-1.251-.827 2 2 0 0 0-3.085-2.514l-2 2a2 2 0 0 0 0 2.828.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                {%- endif -%}
            </div>
            <div class="-mt-4 text-sm text-gray-600 dark:text-gray-300">
                {{ learning.content | safe }}
            </div>
        </div>
{%- endfor -%}
{% endblock %}
